body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    position: relative;
    left: 800px;

    z-index: -1;
}

div{
    width: 600px;
    background-color: white;
    font-weight: bolder;
    float: right;
    text-align: right;
    z-index: 1;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;

    
}